*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    text-align: center;
}

h1{
    height: 5rem;
    background-color: #081b31;
    color: white;
    line-height: 5rem;
}


.container .boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap:3rem;
}

.container .box{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box:hover{
    background-color: black;
    cursor: pointer;
}

.container .box img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 5rem;
}

.user-score{
    font-size: 2rem;
    font-weight: bold;
}
#user{
    font-size: 4rem;
}

.comp-score{
    font-size: 2rem;
    font-weight: bold;
}
#comp{
    font-size: 4rem;
}

#btn{
    margin-top: 4rem;
    font-size: 2rem;
    padding: 1rem;
    border: none;
    background-color: #081b31;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

#reset{
    margin-top: 4rem;
    font-size: 2rem;
    padding: 1rem;
    border: none;
    background-color: #081b31;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 5rem;
}

@media screen and (max-width : 580px) {
    .container .boxes{
        flex-direction: column;
        margin-top: 3rem;
        gap:2rem;
    }
    #reset{
        margin-left: 0;
        display: block;
        margin: 2rem auto;
    }
}